.header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid var(--border-line);
  gap: 10px;
  padding: 11px 20px;
  box-sizing: border-box;
}

.icon {
  height: 24px;
  width: 24px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.extra {
  gap: 5px;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
}

.avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: var(--light-green);
}

.name {
  font-weight: 700;
  line-height: 150%;
  font-size: 12px;
  font-family: "Manrope";
}

.role {
  font-weight: 600;
  line-height: 150%;
  font-size: 11px;
  color: var(--grey);
  font-family: "Manrope";
}

.icon-text {
  font-weight: 600;
  line-height: 150%;
  font-size: 14px;
  font-family: "Manrope";
}
